.cursor/
OFFLINE_BUNDLE.txt
dev_com_spec.txt
training_datasets/
github_projects/
python_libraries/
references/papers/
references/mediapipe_offline/models/
*.rar
*.zip
*.7z
*.pth
*.pt
*.whl
data-unversioned/
__pycache__/
.venv/
slr_venv/
